<div>
    <div>
        <button><a href="/user/signup">Sign Up</a></button>
        <button><a href="/user/signin">Sign In</a></button>
    </div>
    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. At, repellat sapiente minima saepe laborum repellendus? Commodi impedit atque similique eaque ullam eius rem nam illum. Labore praesentium tenetur excepturi dolorum. </p>
</div>