<div>
    <h1>This is login from login page</h1>

    <div>
        <h2>You login sucessfully</h2>
        <button><a href="/">Home</a></button>
        <button><a href="/signup">Sign Up</a></button>
        <button><a href="/signout">Sign Out</a></button>
    </div>
</div>