<div>
    <h1>This is signout from Signout Page</h1>

    <div>
        <h2>You sign out sucessfully</h2>
        <button><a href="/">Home</a></button>
        <button><a href="/signup">Sign Up</a></button>
        <button><a href="/signIn">Sign In</a></button>
    </div>
</div>