<div>
    <h1>This Sign Up from signup page</h1>

    <form action="/user/signup" method="post">
        <input type="email" name="email" placeholder="Please Enter the Email">
        <input type="text" name="name" placeholder="Please Enter the Name">
        <input type="password" name="password" placeholder="Please Enter the password">
        <input type="password" name="confirm_password" placeholder="Please Retype the password">
        <button type="submit"> Sign Up</button>
    </form>
</div>