<div>
    <h1>This is SignIn from signIn page</h1>

    <form action="/user/signin" method="post">
        <input type="email" name="email" placeholder="Please Enter the email">
        <input type="password" name="password" placeholder="Please Enter the password">
        <button type="submit">SignIn</button>
    </form>
</div>